.feature-bezierSlices-main-quad-SideProjectionView,
.feature-bezierSlices-main-quad-SideProjectionView > canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

.feature-bezierSlices-main-quad-SideProjectionView > canvas.snapshot {
    background-image: url(./checker.jpg);
    background-repeat: repeat;
}

.feature-bezierSlices-main-quad-SideProjectionView > canvas.slices {
    background: transparent;
}
