.ui-view-RunnableView {
    position: relative;
    padding: 0;
}

.ui-view-RunnableView > div {
    margin: 0;
    transition: opacity 0.2s;
}

.ui-view-RunnableView.running > div.children {
    opacity: 0.8;
    pointer-events: none;
    filter: blur(3px);
}

.ui-view-RunnableView.running > div.overlay {
    opacity: 1;
}

.ui-view-RunnableView > div.overlay {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    overflow: visible;
    opacity: 0;
}

.ui-view-RunnableView > div.overlay > svg {
    color: var(--theme-color-on-frame);
    width: 4rem;
    height: 4rem;
    min-width: 4rem;
    min-height: 4rem;
    animation: view-RunnableView-anim 1s linear infinite;
}

@keyframes view-RunnableView-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
