.feature-bezierSlices-main-MenuView {
    overflow: auto;
    width: 360px;
    flex: 0 0 auto;
    padding: 0.5em;
}

.feature-bezierSlices-main-MenuView > div.grid {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
}

.feature-bezierSlices-main-MenuView > div.gizmo > canvas {
    width: 100px;
    height: 100px;
}
