.circuitSonataEditor div.twoCols {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5em;
    place-items: center start;
}

.circuitSonataEditor div.toggles {
    margin: 1em 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
    padding: 0.25em;
    place-items: stretch;
}
