.main {
    display: grid;
    grid-template-columns: auto 1fr;
    place-items: center start;
    gap: 0.5em;
}

.main > div:first-child {
    content: "";
    border-radius: 50%;
    width: 1em;
    height: 1em;
}
