div.App {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #000;
    overflow: hidden;
}

div.App > aside {
    position: absolute;
    left: auto;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    margin: 0;
    padding: 1em;
    width: 200px;
    color: #fffe;
}

div.App > .scene {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

div.App > .wait {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    color: #eee;
}

div.App > *.loading {
    opacity: 0;
}
