.Error {
    margin: 1em 0;
    padding: 0.5em;
    background-color: var(--theme-color-error);
    color: var(--theme-color-on-error);
    border: var(--theme-color-on-error-opacity-50);
    box-shadow: 0 0.25em 1em var(--theme-color-error-opacity-80);
}

.Error pre {
    all: unset;
    display: block;
    font-size: 1rem;
    line-height: 1.2;
    white-space: pre-wrap;
    font-family: monospace;
    max-width: 600px;
}
