.indent {
    margin-left: 1em;
}

.clickable {
    color: currentColor;
    font-weight: bold;
}

.clickable:hover {
    color: var(--theme-color-secondary-5);
}

.file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.file > em {
    opacity: 0.6;
    font-weight: normal;
}
